@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

body {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    background-color: #f7f7f7;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}

.header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header__redes{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}

.header__redes--icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px; 
}

.header__redes--icons span {
    color: white;
}

.header__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
    background-color: white;
}

.header__menu--logo {
    margin-left: 50px;
}

.header__menu--sobremi {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

.header__menu--logo img {
    width: 250px;
    margin-top: 10px;
}

.header__menu--sobremi a {
    color: black;
    border-bottom: 1px solid black;
    font-size: 20px;
}
.main__blogs {
    display: grid;
    max-width: 100%;
    max-height: 1500px;
    grid-template-rows: 1fr 2fr;
    background-color: white;
}

.main__blogs--titulo {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main__blogs--column_1 {
    display: flex;
    flex-direction: column;
}

.main__blogs--titulo--column_1 {
    padding: 0 60px;
}

.main__blogs--titulo--column_1 h1{
    margin: 10 auto;
    text-align: left;
}

.main__blogs--column_1--img {
    width: 90%;
}

.main__blogs--titulo--column_2 {
    padding: 0 30px 0 20px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.main__blogs--titulo--column_2 h1{
    max-width: 350px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 32px;
    letter-spacing: 5px;
}

.main__blogs--titulo--column_2 {
    max-width: 350px;
}

.main__blogs--titulo--column_2 p {
    margin: 20px 0;
}

.main__blogs--titulo--column_2 a {
    width: 120px;
    height: 30px;
    background-color: lightgrey;
    border: 1.5px solid #47cfac;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.main__blogs--titulo--column_2 a:hover {
    border: 1.5px solid #47cfac;
    color:#47cfac;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.75);
}

.ultimos__titulo {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid #cecece;
    margin: 0 30px 0 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 20px;
}

.blogPost_1 {
    grid-area: blogPost_1; 
}
.blogPost_2 {
    grid-area: blogPost_2; 
}
.blogPost_3 {
    grid-area: blogPost_3; 
}
.blogPost_4 {
    grid-area: blogPost_4; 
}
.blogPost_5 {
    grid-area: blogPost_5;
}
.blogPost_6 {
    grid-area: blogPost_6; 
}

.main__blogs--ultimos {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    grid-template-areas: 
                        "titulo titulo titulo"
                        "blogPost_1 blogPost_2 blogPost_3"
                        "blogPost_4 blogPost_5 blogPost_6";
}

.Post {
    max-width: 100%;
    padding: 15px;
    text-align: justify;
    margin: 0 20px 0 20px;
}
.Post img {
    max-width: 100%;
}

.Post h1{
    font-family: 'Courier New', Courier, monospace;
}

.Post a {
    width: 120px;
    height: 30px;
    border: 1px solid #47cfac;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.Post a:hover {
    border: 1.5px solid #47cfac;
    color:#47cfac;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.75);
} 


.footer {
    margin: 0 auto;
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    color: white;
    text-align: center;
    justify-content: center;
}

.footer__granja {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #47cfac;
    width: 100%;
}

.footer__final {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    width: 100%;
}