@media (max-width: 930px) {
    .main__blogs--titulo {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }

}

@media (max-width: 450px) {
    .header__menu {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        height: 90px;
        background-color: white;
    }
    .header__menu--sobremi {
        margin: 0;
        display: flex;
        justify-content: center;
        background-color: white;
        height: 90px;
    }
}